extends layout

block content
  if login==true 
    .loginForm.container-sm
      .row
        .col-4
          h3 Log In
          form(action="/login" method="post")
            //- label(for="first_name") email 
            input(type="text", name="username" placeholder="Email").form-control.mb-2
            //- label(for="_name") 
            input(type="password", name="password" placeholder="Password").form-control.mb-2
            input(type="submit", value="Log In").btn.btn-primary
  else 
    .form 
      input(type="text", name="first_name" )
      input(type="text", name="last_name" )
      input(type="text", name="email" )
      input(type="text", name="password")
      input(type="radio", name="sex" value="Male")
      input(type="radio", name="sex" value="Female")
      input(type="text", name="height")
      input(type="text", name="weight")


      //- label(for="_name") 
      input(type="text", name="password" placeholder="Password")
      input(type="submit", value="Log In")


