extends layout

block content
  .form
    //- label(for="first_name") email 
    input(type="text", name="first_name" )
    //- label(for="_name") 
    input(type="text", name="first_name" placeholder="Password")
    input(type="submit", value="Log In")


