doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li 
          a(href="") Workouts
        li 
          a(href="") Classes
        li 
          a(href="") Trainers

    block content
